body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
body{
    background-color: rgb(99, 105, 110);
}
.navbar ul{
   list-style-type: none;
   background-color: rgb(61, 58, 54);
   padding: 0px;
   margin: 0px;
   overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(26, 25, 24);
}
.navbar li{
    float: left;
}
h4 {
    color: rgb(55, 219, 14);
}
